body {
        margin: 0;
        padding: 0;
       }
       h4 {text-align: center; direction: ltr;}
        body{background-color: rgb(252, 255, 221);} 
       .d {
        transition: 0.4s;
        width: 30px;
        font-size: 10px;
        padding: 50px 20px ;
        background-color: rgb(252, 255, 221);
        color: rgb(0, 0, 0);
       }
       .d:hover{
        transition: 0.4s;
         border: solid 1px rgb(43, 43, 43);
        color: white;
        background-color: rgb(43, 43, 43); 
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0px 8px 15px black;
       }
       .nb {
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: black;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;    
       }
       .nb a {
        text-decoration: none;
        color: white;
        transition: 0.4;
        font-size: 16px;
       }
       .nb a:hover {
        color: gray;
        text-decoration: underline;
       }
       img {
        width: 300px;
        height: auto;
        border-radius: 10px;
       }